.contact-info {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media screen and (max-width: 600px) {
  .contact-info {
    flex-direction: row;
    padding-left: 0;
  }
}

// Not sure why, but have to set color:inherit here as well in as styles.scss for Firefox
a {
  color: inherit;
}