@mixin alpha($property, $color-variable, $opacity) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: var(#{$color-variable + "-l"});
  #{$property}: hsla(
    $color-variable-h,
    $color-variable-s,
    $color-variable-l,
    $opacity
  );
}

#app-container {
  background-image: url("../assets/headerBackground.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
  padding-bottom: 200px;
}

a,
a:visited {
  color: white;
}

#mobile-underlay {
  display: none;
}

.primary-column {
  height: 100%;
  max-width: 1920px;

  padding: 0 var(--site-side-padding);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 12.5rem;
}

.filterExpanded {
  padding-left: 102px !important;
  transition: padding-left 0.25s ease;
}


.filterHidden {
  padding-left: var(--site-side-padding) !important;
  transition: padding-left 0.25s ease;
}

.primary-column section:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: var(--card-radius);
}

.primary-column section:nth-child(even) {
  align-self: flex-end;
}

.primary-column section:nth-child(odd) {
  align-self: flex-start;
}

.main-header {
  padding-top: 0;
  width: calc(100% - var(--site-side-padding));
}

#skills-section {
  width: 100%;
  h1 {
    text-align: center;
  }
}

#skills-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

// Phone styling

@media screen and (max-width: 600px) {
  #app-container {
    background-image: url("../assets/phoneBackground.jpg");
    overflow-x: hidden;
    width: 100%;
  }

  .primary-column {
    padding: 0;

    section {
      border-radius: 0 !important;
    }

    article {
      padding: 1rem;
    }
  }

  .primary-column section:not(:first-child) {
    background-color: rgba(0, 0, 0, 0);
  }

  .primary-column > * {
    z-index: 1;
  }

  .main-header {
    z-index: 2 !important;
  }

  #mobile-underlay {
    z-index: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 1) 100%
    );
    width: 100%;
  }
}

// > 2 DPR backgrounds
@media screen and (-moz-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-device-pixel-ratio: 2) {
  #app-container {
    background-image: url("../assets/headerBackground@2x.jpg");
  }

  @media screen and (max-width: 600px) {
    #app-container {
      background-image: url("../assets/phoneBackground@2x.jpg");
    }
  }
}

.filterItem,
.filterItem-selected {
  margin: 0 5px;
  fill: currentColor;
}

.filterItem {
  color: var(--gray);
  transition: color 0.5s ease;
}
.filterItem:hover {
  @include alpha(color, --gray, 0.75);
  transition: color 0.25s ease;
}

.filterItem-selected {
  color: var(--blue);
  transition: color 0.5s ease;
}

.filterItem-selected:hover {
  @include alpha(color, --blue, 0.75);
  transition: color 0.25s ease;
}
